@font-face {
  font-family: "bubbly";
  src: url("/assets/font/a-alloy-ink-font/AlloyInk-nRLyO.ttf");
}
@font-face {
  font-family: "nightmare";
  src: url("/assets/font/honk-font/Honk-OVA4P.ttf");
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: bubbly, sans-serif;
  background: radial-gradient(#00b3b3, #001927);
}

.page-title {
  font-size: 6em;
  text-align: center;
  color: #ff006e;
  margin-bottom: 30px;
}

.control-btn {
  font-size: 2em;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: goldenrod;
  border: 2px solid black;
  transform: scale(1);
  font-family: nightmare, sans-serif;
  cursor: pointer;
}

.control-btn:active {
  transform: scale(0.97);
}

#reset.invisible {
  display: none;
}

#start.invisible {
  display: none;
}

#finished {
  grid-column: 1/-1;
  text-align: center;
  font-size: 2.5em;
  color: whitesmoke;
}

.container {
  display: grid;
  grid-gap: 10px;
  margin-bottom: 50px;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  perspective: 600px;
}

.card {
  position: relative;
  width: 125px;
  height: 175px;
  border-radius: 12px;
  transition: transform 0.1s ease;
  transform: scale(1);
  cursor: pointer;
}

.both-side {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
}

.front-side {
  transform: rotateY(180deg);
  background-color: gold;
  border: 1px solid gold;
}

.back-side {
  background-color: black;
  border: 1px solid black;
}

.card:active {
  transform: scale(0.96);
}

.card.visible .back-side {
  transform: rotateY(-180deg);
}
.card.visible .front-side {
  transform: rotateY(0deg);
}

/* PNG image dimensions*/
.bear {
  width: 120px;
  height: 90px;
}

.archer {
  width: 100px;
  height: 140px;
}

.witch,
.gun,
.skeleton,
.plant,
.wrestler {
  width: 110px;
  height: 120px;
}
.sap {
  width: 110px;
  height: 120px;
  transform: translateX(-7px);
}

.symbol-img {
  width: 120px;
  height: 120px;
  transform: translateX(2px);
}

/* More responsive */
@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(2, auto);
  }
  .page-title {
    font-size: 3em;
  }
  .card {
    width: 120px;
    height: 140px;
  }
}
